<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TetroBlocks</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
</head>
  <body>
    <main>
    </main>
    <script>
      // let tokenId = <%= tokenId %>
      let tokenData = {"hashes":["0x722899b10c66da3b72fb60a8e71df442ee1c004547ba2227d76bed357469b4ea"],"tokenId":"888"}
    </script>
    <script src="/js/p5.js"></script>
    <script src="/js/Playfield.js"></script>
    <script src="/js/Piece.js"></script>
    <script src="/js/handleKeyboard.js"></script>
    <script src="/js/sketch.js"></script>
  </body>
</html>